.header {
    /* box-shadow: 0 4px 10px #ffffff; */
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #4074f7;
}

.navmenu {
    display: flex;
    list-style: none;

}

.navmenu li {
    font-size: 20px;
    margin-right: 40px;
}

.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.open {
    background-color: red;
}



@media screen and (max-width: 525px) {

    .menuIcon {
        display: flex;
    }

    .menuIcon svg {
        /* background-color: red; */
        width: 40px;
    }

    

    .navmenu {
        display: none;
        border-radius: 10px;
        font-weight: bold;
        /* color: #505050; */
    }

    .humbopen {
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        width: auto;
        /* color: red; */

    }

    .humbopen li {
        margin: 5px 0;
        font-size: 12px;
        margin-right: 0 !important;

    }

    .humbopen a {
        display: flex;
        justify-content: center;
    }


    .header {
        display: block;
    }
    
}

@media screen and (max-width: 768px) {
    .navmenu li {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1300px) {

    .navmenuwrap {
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 2;
        position: relative;
    }

    .header {
        justify-content: center;
    }

}